@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

* {
  font: 700 16px "Open Sans", sans-serif;
  color: rgb(255, 255, 255);
  
}
body {
  background-color: black;
}
.about-me{
  background-color: green;
}
.indent-page {
  background-color:yellow;
}
.nav-container{
  background-color: blue;
}
.page-container{
  background-color: red;
}
.projects-display{
  background-color: purple;
}