@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

* {
  font: 700 16px "Open Sans", sans-serif;
  color: #eee;
}
.container {
  background-color: #d7dae5;
}
.footer {
  background-color: #0C6291;
  color: #011;
}
.header {
  background-color: #0C6291;
}
.cornerPhoto{
  background-color: #470024

}
.headerPhotoContainer{
  background-color: #d7dae5;
}
.main {
  
}
.main__content {
}

.main_Projects, 
.main_AboutMe
{
  background-color: #284b63;
}
