@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

* {
  font: 700 16px "Open Sans", sans-serif;
  color: rgb(255, 255, 255);
}
body {
  background-color: black;
}

.page-container{
  background-color: rgba(22, 28, 45)
}